/* Grundlegende Stile für den Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header-Design */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation Stile */
nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    color: #333;
    text-decoration: none;
}

/* Hover-Effekt für Links */
nav a:hover {
    color: #007BFF;
}

/* Hauptinhalt */
main {
    padding: 20px;
    text-align: center;
}

/* Footer-Design */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
